<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.entity.News" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="pre_content" property="preContent" jdbcType="VARCHAR" />
    <result column="media_type" property="mediaType" jdbcType="VARCHAR" />
    <result column="media_title" property="mediaTitle" jdbcType="VARCHAR" />
    <result column="news_url" property="newsUrl" jdbcType="VARCHAR" />
    <result column="discuss_num" property="discussNum" jdbcType="INTEGER" />
    <result column="discuss_liked_num" property="discussLikedNum" jdbcType="INTEGER" />
    <result column="liked_num" property="likedNum" jdbcType="INTEGER" />
    <result column="re_post_num" property="rePostNum" jdbcType="INTEGER" />
    <result column="views_num" property="viewsNum" jdbcType="INTEGER" />
    <result column="content_from_scrapy" property="contentFromScrapy" jdbcType="VARCHAR" />
    <result column="md5" property="md5" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="discuss_update_time" property="discussUpdateTime" jdbcType="TIMESTAMP" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="exist" property="exist" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, content, pre_content, media_type, media_title, news_url, discuss_num, 
    discuss_liked_num, liked_num, re_post_num, views_num, content_from_scrapy, md5, create_time, 
    discuss_update_time, delete_time, exist
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.model.entity.NewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_news
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_news
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.model.entity.NewsExample" >
    delete from tbl_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.entity.News" >
    insert into tbl_news (id, user_id, content, 
      pre_content, media_type, media_title, 
      news_url, discuss_num, discuss_liked_num, 
      liked_num, re_post_num, views_num, 
      content_from_scrapy, md5, create_time, 
      discuss_update_time, delete_time, exist
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{preContent,jdbcType=VARCHAR}, #{mediaType,jdbcType=VARCHAR}, #{mediaTitle,jdbcType=VARCHAR}, 
      #{newsUrl,jdbcType=VARCHAR}, #{discussNum,jdbcType=INTEGER}, #{discussLikedNum,jdbcType=INTEGER}, 
      #{likedNum,jdbcType=INTEGER}, #{rePostNum,jdbcType=INTEGER}, #{viewsNum,jdbcType=INTEGER}, 
      #{contentFromScrapy,jdbcType=VARCHAR}, #{md5,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{discussUpdateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{exist,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.entity.News" >
    insert into tbl_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="preContent != null" >
        pre_content,
      </if>
      <if test="mediaType != null" >
        media_type,
      </if>
      <if test="mediaTitle != null" >
        media_title,
      </if>
      <if test="newsUrl != null" >
        news_url,
      </if>
      <if test="discussNum != null" >
        discuss_num,
      </if>
      <if test="discussLikedNum != null" >
        discuss_liked_num,
      </if>
      <if test="likedNum != null" >
        liked_num,
      </if>
      <if test="rePostNum != null" >
        re_post_num,
      </if>
      <if test="viewsNum != null" >
        views_num,
      </if>
      <if test="contentFromScrapy != null" >
        content_from_scrapy,
      </if>
      <if test="md5 != null" >
        md5,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="discussUpdateTime != null" >
        discuss_update_time,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="exist != null" >
        exist,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="preContent != null" >
        #{preContent,jdbcType=VARCHAR},
      </if>
      <if test="mediaType != null" >
        #{mediaType,jdbcType=VARCHAR},
      </if>
      <if test="mediaTitle != null" >
        #{mediaTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsUrl != null" >
        #{newsUrl,jdbcType=VARCHAR},
      </if>
      <if test="discussNum != null" >
        #{discussNum,jdbcType=INTEGER},
      </if>
      <if test="discussLikedNum != null" >
        #{discussLikedNum,jdbcType=INTEGER},
      </if>
      <if test="likedNum != null" >
        #{likedNum,jdbcType=INTEGER},
      </if>
      <if test="rePostNum != null" >
        #{rePostNum,jdbcType=INTEGER},
      </if>
      <if test="viewsNum != null" >
        #{viewsNum,jdbcType=INTEGER},
      </if>
      <if test="contentFromScrapy != null" >
        #{contentFromScrapy,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null" >
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="discussUpdateTime != null" >
        #{discussUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exist != null" >
        #{exist,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.model.entity.NewsExample" resultType="java.lang.Integer" >
    select count(*) from tbl_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_news
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.preContent != null" >
        pre_content = #{record.preContent,jdbcType=VARCHAR},
      </if>
      <if test="record.mediaType != null" >
        media_type = #{record.mediaType,jdbcType=VARCHAR},
      </if>
      <if test="record.mediaTitle != null" >
        media_title = #{record.mediaTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.newsUrl != null" >
        news_url = #{record.newsUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.discussNum != null" >
        discuss_num = #{record.discussNum,jdbcType=INTEGER},
      </if>
      <if test="record.discussLikedNum != null" >
        discuss_liked_num = #{record.discussLikedNum,jdbcType=INTEGER},
      </if>
      <if test="record.likedNum != null" >
        liked_num = #{record.likedNum,jdbcType=INTEGER},
      </if>
      <if test="record.rePostNum != null" >
        re_post_num = #{record.rePostNum,jdbcType=INTEGER},
      </if>
      <if test="record.viewsNum != null" >
        views_num = #{record.viewsNum,jdbcType=INTEGER},
      </if>
      <if test="record.contentFromScrapy != null" >
        content_from_scrapy = #{record.contentFromScrapy,jdbcType=VARCHAR},
      </if>
      <if test="record.md5 != null" >
        md5 = #{record.md5,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.discussUpdateTime != null" >
        discuss_update_time = #{record.discussUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteTime != null" >
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.exist != null" >
        exist = #{record.exist,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_news
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      pre_content = #{record.preContent,jdbcType=VARCHAR},
      media_type = #{record.mediaType,jdbcType=VARCHAR},
      media_title = #{record.mediaTitle,jdbcType=VARCHAR},
      news_url = #{record.newsUrl,jdbcType=VARCHAR},
      discuss_num = #{record.discussNum,jdbcType=INTEGER},
      discuss_liked_num = #{record.discussLikedNum,jdbcType=INTEGER},
      liked_num = #{record.likedNum,jdbcType=INTEGER},
      re_post_num = #{record.rePostNum,jdbcType=INTEGER},
      views_num = #{record.viewsNum,jdbcType=INTEGER},
      content_from_scrapy = #{record.contentFromScrapy,jdbcType=VARCHAR},
      md5 = #{record.md5,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      discuss_update_time = #{record.discussUpdateTime,jdbcType=TIMESTAMP},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      exist = #{record.exist,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.entity.News" >
    update tbl_news
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="preContent != null" >
        pre_content = #{preContent,jdbcType=VARCHAR},
      </if>
      <if test="mediaType != null" >
        media_type = #{mediaType,jdbcType=VARCHAR},
      </if>
      <if test="mediaTitle != null" >
        media_title = #{mediaTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsUrl != null" >
        news_url = #{newsUrl,jdbcType=VARCHAR},
      </if>
      <if test="discussNum != null" >
        discuss_num = #{discussNum,jdbcType=INTEGER},
      </if>
      <if test="discussLikedNum != null" >
        discuss_liked_num = #{discussLikedNum,jdbcType=INTEGER},
      </if>
      <if test="likedNum != null" >
        liked_num = #{likedNum,jdbcType=INTEGER},
      </if>
      <if test="rePostNum != null" >
        re_post_num = #{rePostNum,jdbcType=INTEGER},
      </if>
      <if test="viewsNum != null" >
        views_num = #{viewsNum,jdbcType=INTEGER},
      </if>
      <if test="contentFromScrapy != null" >
        content_from_scrapy = #{contentFromScrapy,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null" >
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="discussUpdateTime != null" >
        discuss_update_time = #{discussUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exist != null" >
        exist = #{exist,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.entity.News" >
    update tbl_news
    set user_id = #{userId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      pre_content = #{preContent,jdbcType=VARCHAR},
      media_type = #{mediaType,jdbcType=VARCHAR},
      media_title = #{mediaTitle,jdbcType=VARCHAR},
      news_url = #{newsUrl,jdbcType=VARCHAR},
      discuss_num = #{discussNum,jdbcType=INTEGER},
      discuss_liked_num = #{discussLikedNum,jdbcType=INTEGER},
      liked_num = #{likedNum,jdbcType=INTEGER},
      re_post_num = #{rePostNum,jdbcType=INTEGER},
      views_num = #{viewsNum,jdbcType=INTEGER},
      content_from_scrapy = #{contentFromScrapy,jdbcType=VARCHAR},
      md5 = #{md5,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      discuss_update_time = #{discussUpdateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      exist = #{exist,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>